.coverage

*.pyc
examples/*.pb

tmp/*
docker/dnndk/host_x86/*
models/TF_SLIM/*
models/MXNET/*

examples/.ipynb_checkpoints/*
examples/cross-compilation/**/*.so
examples/cross-compilation/**/*.json
examples/cross-compilation/**/*.params
examples/cross-compilation/**/*.tar
examples/cross-compilation/**/*.o

pyxir.egg-info
dist
build

python/libpyxir.*

tests/cpp/pyxir_test*
